<%- include("partials/header"); -%>
<div class="container-home centered">
    <div class="container-fluid py-5">
        <div class="key-icon">
            <i class="bi bi-key-fill"></i>
        </div>
        <h1 class="display-3 fw-bold">Secrets</h1>
        <p>Dont Keep'your Secrets, Share them anonymously</p>
        <hr/>
        <a class="btn btn-outline-primary" href="/register" role="button">Register</a>
        <a class="btn btn-dark" href="/login" role="button">Login</a>
    </div>
</div>
<%- include("partials/footer"); -%>
