<%- include("partials/header"); -%>
<div class="container-home mt-5">

    <div class="container">
        <div class="row">
            <div class="col-sm-8 mb-3">
                <div class="card ms-5">
                    <div class="card-body">
                    <h4 class="card-title">Register</h4>
                    <!-- Makes Post Request to Login Route -->
                    <form action="/register" method="post">
                    <label for="email" class="form-label">Email </label>
                    <input type="email" class="form-control mb-2" name="username"/>
                    <label for="password" class="form-label">Password </label>
                    <input type="password" class="form-control mb-2" name="password"/>
                    <button class="btn btn-dark" type="submit">Register</button>
                    </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="card ms-5">
                <div class="card-body">
                    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                        <i class="bi bi-google"></i>  Sign Up With Google
                    </a>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include("partials/footer"); -%>