<%- include("partials/header"); -%>
<div class="container-home centered">
    <div class="container-fluid py-5">
        <div class="key-icon">
        <i class="bi bi-key-fill key-icon"></i>
        </div>
        <p class="fs-1">You've Discovered My Secret</p>
        <p class="secret-text">Luffy is My Favourite Protaganist</p>
        <hr/>
        <a class="btn btn-light" href="/" role="button">Logout</a>
        <a class="btn btn-dark" href="/submit" role="button">Submit a Secret</a>
    </div>
</div>

<%- include("partials/footer"); -%>