<%- include("partials/header"); -%>
<div class="container-home centered">
    <div class="container-fluid py-5">
        <div class="alert pt-5 mb-5">
        <div class="key-icon">
        <i class="bi bi-key-fill key-icon"></i>
        </div>
        <h3 class="alert-heading">Let's Dive Into The Ocean of Whisper's</h3>

        <% userwithSecrets.forEach(function(user){ %>
            <p class="secret-text text-bg-dark p-1"><%=user.secret%></p>
        <% }) %>
        <hr/>
        <a class="btn btn-warning fw-bold" href="/logout" role="button">Logout</a>
        <a class="btn btn-dark" href="/submit" role="button">Submit a Secret</a>
    </div>
    </div>
</div>

<%- include("partials/footer"); -%>