<%- include("partials/header"); -%>
<div class="container-home centered">
    <div class="container-fluid py-5">
        <div class="alert alert-success pt-5 mb-5">
        <div class="key-icon">
        <i class="bi bi-key-fill key-icon"></i>
        </div>
        <h3 class="alert-heading">You've Discovered My Secret</h3>
        <p class="secret-text">Luffy is My Favourite Protaganist</p>
        <hr/>
        <a class="btn btn-outline-danger fw-bold" href="/" role="button">Logout</a>
        <a class="btn btn-dark" href="/submit" role="button">Submit a Secret</a>
    </div>
    </div>
</div>

<%- include("partials/footer"); -%>